
$color_quill_gray_approx: #d4d4d4;
$color_mexican_red_approx: brown;
$color_amber_approx: #ffc107;
$color_shamrock_approx: hsla(153, 57%, 51%, 1);
$white: white;
 

.breadcrumb {
	padding: 0px;
	background: $color_quill_gray_approx;
	list-style: none;
	overflow: hidden;
	margin-top: 20px;

	&>li+li:before {
		padding: 0;
	}
}
li {
	float: left;

	&.active a {
		background:$color_mexican_red_approx;                   /* fallback color */
		background: $color_amber_approx;
	}
	&.completed a {
		background:$color_mexican_red_approx;                   /* fallback color */
		background: $color_shamrock_approx;
	}
	&.active a:after {
		border-left: 30px solid $color_amber_approx;
	}
	&.completed a:after {
		border-left: 30px solid $color_shamrock_approx;
	}
	a {
		color: $white;
		text-decoration: none;
		padding: 10px 0 10px 45px;
		position: relative;
		display: block;
		float: left;
	}
	a:after {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
		border-bottom: 50px solid transparent;
		border-left: 30px solid hsla(0, 0%, 83%, 1);
		position: absolute;
		top: 50%;
		margin-top: -50px;
		left: 100%;
		z-index: 2;
	}
	a:before {
		content: " ";
		display: block;
		width: 0;
		height: 0;
		border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
		border-bottom: 50px solid transparent;
		border-left: 30px solid $white;
		position: absolute;
		top: 50%;
		margin-top: -50px;
		margin-left: 1px;
		left: 100%;
		z-index: 1;
	}
	&:first-child a {
		padding-left: 15px;
	}
	a:hover {
		background: $color_amber_approx;
	}
	a:hover:after {
		border-left-color: $color_amber_approx !important;
	}
}